<br>
<br>
<br>
<!--Les admin-->
<div [hidden]="authorities()">
    <div class="container-fluid mt--7">
        <p>Les admins</p>
        <p>Calculer la surface moyenne des offres disponible dans la capitale : </p>
        <button (click)="surfaceMoyenneParis()">surface</button>
        <br>
        <p>Calculer le prix cumulé des offres dans la capitale : </p>
        <button (click)="totalPrixOffreParis()">prix</button>
        <br>
        <p>Trouver le nombre d'utilisateurs : </p>
        <button (click)="nombreUtilisateur()">utilisateurs</button>
        <br>
        <p>Trouver le nombre de clients : </p>
        <button (click)="nombreClient()">clients</button>
        <br>
        <p>Trouver le nombre de gérants : </p>
        <button (click)="nombreGerant()">gérants</button>
        <br>
    </div>
</div>
<!--Les non admin-->
<div [hidden]="!authorities()">
    <div class="container-fluid mt--7" style="background-color: white;">
        <h1> &nbsp;</h1>
        <br>
        <h1> &nbsp;</h1>
        <br>
        <h1> &nbsp;</h1>
        <br>
        <h1> &nbsp;</h1>
        <br>
        <h3>Seuls les <b>administrateurs de l'application </b> accéder à cet onglets. Merci de votre
            <b>compréhension</b>.
        </h3>
        <h1> &nbsp;</h1>
        <br>
        <h1> &nbsp;</h1>
        <br>
        <h1> &nbsp;</h1>
        <br>
        <h1> &nbsp;</h1>
        <br>
    </div>
</div>