<!DOCTYPE html>
<html>
<div>


    <br>
    <br>
    <br>
    <br>

    <div style="position: relative; left: 10px; background-color: white; border-color: black; border-width: thick;">
        <br>
        <br>
        <div>
            <br>
            <br>
            <h3>Bonjour <b>{{user.prenomUtilisateur}}</b>, vous êtes bien sur le site officiel de <b>Real
                    Estate Agency</b></h3>
        </div>
        <table>
            <th>
                <h2 style="color: chocolate;"><b>Qui sommes nous ? </b></h2>
                <p>Real Estate Agency est la <b>première</b> agence immobilière 100% numérique ! </p>
                <br>
                <div style="position: relative; left: 50px;">
                    <h3 style="color: chocolate;"><b>Pourquoi ? </b></h3>
                    <p>Tout simplement pour vous <b>facilitez la vie !</b> <br>
                        Avec notre réseau national, il vous est possible de regarder,
                        réserver et programmer <br> des visites <b>dans n'importe quelle ville</b> de l'hexagone. </p>
                </div>
                <br>
                <div style="position: relative; left: 50px;">
                    <h3 style="color: chocolate;"><b>Comment ? </b></h3>
                    <p>Et bien tout simplment en vous connectant et en cliquant sur "Toutes nos offres". </p>
                    <p>D'un simple clic, vous pourrez alors regarder les différents bien que nous proposons, <br> vous
                        renseignez et profitez de nos services. <br>
                        Si l'offre vous plaît, nécessitez pas à la réserver ! ;) </p>
                </div>
            </th>
            <th>
                <img src="assets/img/maison.jpg" width="350" height="250"
                    style="position: relative; left: 350px; top: 150px; border-color: black; border-width: 5px;">
            </th>
        </table>
    </div>
</div>

<br>
<br>
<div style="position: relative; left: 1px;bottom: 0px;">
    <div class="card card-plain">
        <div style="background-color: chocolate; color: black;">
            <h3> &nbsp;&nbsp; Nos services, votre bonheur </h3>
            <p style="color: white;"> &nbsp; Si vous manquez d'inspiration, voici échantillon de ce que vous pourriez
                trouvez sur notre site ! </p>
        </div>
        <div>
            <img src="assets/img/villa.jpg" width="150" height="100"
                style="position: relative; left: 250px; top: 150px;">
        </div>
        <div class="card-body">
            <div class="table-responsive" style="color: chocolate;">
                <table class="table table-hover" style="background-color: white;">
                    <thead class="">
                        <th>
                            <b>Type de bien</b>
                        </th>
                        <th>
                            <b>Ville</b>
                        </th>
                        <th>
                            <b>Description</b>
                        <th>
                            &nbsp;
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Appartement
                            </td>
                            <td>
                                Paris
                            </td>
                            <td>
                                Appartement bien situé et bien isolé du bruit !
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Maison
                            </td>
                            <td>
                                Canne
                            </td>
                            <td>
                                Villa somptueuse au bord de la mer...
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Appartement
                            </td>
                            <td>
                                Annecy
                            </td>
                            <td>
                                Si vous recherchez un nid douillet, il est fait pour vous !
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Terrain
                            </td>
                            <td>
                                TrouPerdu
                            </td>
                            <td>
                                Constructible, sans vis-à-vis, l'idéal pour se construire un havre de paix
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Garage
                            </td>
                            <td>
                                Lyon
                            </td>
                            <td>
                                Ce pourrait être votre premier bien immobilier en location !
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</html>